@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline {
  position: relative;
}

.hover-underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #72621d; /* Or your desired underline color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.bg-black {
  background-color: #000;
}
