{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-24 pt-40 md:flex-row flex-col justify-center items-center"
  >
    <h1 class="text-primary lg:text-5xl text-4xl">Jednokratni planovi</h1>
  </div>
</section>
<!-- HERO-->
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-16 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1 class="title-font text-3xl mb-4 font-medium text-gray-900">
        Započni svoju transformaciju:

        <br class="hidden lg:inline-block" />
        Pronađi savršeni plan treninga i prehrane!
      </h1>
      <p class="mb-8 leading-relaxed text-large">
        Započni svoju transformaciju: Pronađi idealan plan treninga i prehrane!
        Bez obveze pretplate, sada možeš jednostavno naručiti individualni plan
        koji ti odgovara i dobiti sve potrebne smjernice za postizanje željenih
        rezultata. Ovi jednokratni planovi omogućavaju fleksibilnost i kontrolu
        nad tvojim fitness putovanjem. Svaki od ovih planova pažljivo je
        osmišljen kako bih ti osigurao efikasnost i motivaciju za postizanje
        tvojih ciljeva.
      </p>
      <div class="flex justify-center">
        <a href="https://forms.gle/G2KcfNRtVDhBykeC6">
          <button
            class="inline-flex text-white bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-secondary_h rounded text-lg"
          >
            Prijava
          </button></a
        >
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="./static/img/jednokratna.jpg"
      />
    </div>
  </div>
</section>
<!-- KORACI-->
<section class="bg-primary body-font">
  <div
    class="container mx-auto flex px-24 pt-24 md:flex-row flex-col justify-center items-center"
  >
    <h1 class="sm:text-4xl text-3xl text-white">Kratke upute</h1>
  </div>
</section>
<section class="text-white bg-primary body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        1
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <img src="./static/img/prijava.svg" class="w-2/3" alt="" />
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Prijava
          </h2>
          <p class="leading-relaxed text-lg text-white">
            Sve započinje tvojim prvim korakom.
            <a href="https://forms.gle/G2KcfNRtVDhBykeC6" class="underline"
              >Prijava</a
            >
            za jednokratne planove jednostavan je proces koji obuhvaća
            popunjavanje kratkog obrasca s osnovnim informacijama kako bih bolje
            razumio tvoje potrebe i ciljeve. Nakon prijave stupamo u kontakt te
            se dogovaramo oko daljnjih pojedinosti.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        2
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <img src="./static/img/notes.svg" class="w-2/3" alt="" />
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Izrada plana
          </h2>
          <p class="leading-relaxed text-lg text-white">
            Slijedi izrada plana prema podacima i ciljevima koje si mi pružio
            prilikom prijave i online konzultacija. To uključuje prilagodbu
            svakog detalja kako bih plan odgovarao tvojim individualnim
            potrebama.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        3
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <img src="./static/img/dostava.svg" class="w-2/3" alt="" />
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Dostava plana
          </h2>
          <p class="leading-relaxed text-lg text-white">
            Plan se zatim dostavlja u odgovarajućem formatu, bilo putem e-maila,
            internetske platforme ili drugih komunikacijskih kanala koji su
            prethodno dogovoreni.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        4
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <img src="./static/img/objasnjenje.svg" class="w-1/2" alt="" />
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-xl">
            Detaljno objašnjenje plana
          </h2>
          <p class="leading-relaxed text-lg text-white">
            Nakon što dobiješ plan, detaljno ću ti ga objasniti i odgovoriti na
            pitanja kako bih osigurao tvoje zadovoljstvo i uspjeh s kupljenim
            planom.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PRICING-->
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
      >
        Cijene paketa
      </h1>
      <br />
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">
        Ovo su najpopularniji paketi, ukoliko želiš nešto izvan ponude,
        <a
          class="text-gray-600 hover:text-gray-800 underline"
          href="https://wa.me/+385915706254"
          >kontaktiraj me</a
        >.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-primary flex flex-col relative overflow-hidden"
        >
          <h2 class="text-medium tracking-widest title-font mb-1 font-medium">
            Plan treninga
          </h2>

          <h1
            class="text-5xl text-gray-900 pb-4 mb-4 border-b border-primary leading-none"
          >
            <span>70 €</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan treninga sukladan tvojem cilju
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljno objašnjenje plana
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <p class="flex items-center text-gray-600 mb-12">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljne smjernice za pravilnu prehranu (pravilna raspodjela
            makronutrijenata)
          </p>

          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe9UMVTVofWixjIg_1V9CgC1tfDMxp87eyzmLl1FgKq6NTYwQ/viewform?usp=pp_url&entry.776295654=Jednokratni+plan+treninga+(70+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-primary border-0 py-2 px-4 w-full focus:outline-none hover:bg-primary_h rounded"
            >
              Prijavi se!
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg></button
          ></a>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-secondary flex flex-col relative overflow-hidden"
        >
          <span
            class="bg-secondary text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
            >POPULARNO</span
          >
          <h2 class="text-medium tracking-widest title-font mb-1 font-medium">
            Plan treninga + plan prehrane
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-secondary"
          >
            <span>100 €</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan treninga i prehrane sukladan tvojem cilju
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljno objašnjenje planova
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljne smjernice za pravilnu prehranu (pravilna raspodjela
            makronutrijenata)
          </p>
          <p class="flex items-center text-gray-600 mb-6">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe9UMVTVofWixjIg_1V9CgC1tfDMxp87eyzmLl1FgKq6NTYwQ/viewform?usp=pp_url&entry.776295654=Plan+treninga+%2B+plan+prehrane+(100+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-secondary border-0 py-2 px-4 w-full focus:outline-none hover:bg-secondary_h rounded"
            >
              Prijavi se!
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-primary flex flex-col relative overflow-hidden"
        >
          <h2 class="text-medium tracking-widest title-font mb-1 font-medium">
            Plan prehrane
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-primary"
          >
            <span>70 €</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan prehrane sukladan tvojem cilju
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljno objašnjenje plana
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Detaljne smjernice za pravilnu prehranu (pravilna raspodjela
            makronutrijenata)
          </p>
          <p class="flex items-center text-gray-600 mb-12">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe9UMVTVofWixjIg_1V9CgC1tfDMxp87eyzmLl1FgKq6NTYwQ/viewform?usp=pp_url&entry.776295654=Jednokratni+plan+prehrane+(70+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-primary border-0 py-2 px-4 w-full focus:outline-none hover:bg-primary_h rounded"
            >
              Prijavi se!
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
