{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-24 pt-40 md:flex-row flex-col justify-center items-center"
  >
    <h1 class="text-primary lg:text-5xl text-4xl">Online coaching</h1>
  </div>
</section>
<!-- HERO-->
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-16 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1 class="title-font text-3xl mb-4 font-medium text-gray-900">
        Dostignite svoje fitness ciljeve uz online coaching:
        <br class="hidden lg:inline-block" />Napredak je sada lakši nego ikad.
      </h1>
      <p class="mb-8 leading-relaxed text-large">
        Više se ne moraš prilagođavati rasporedu treninga ili putovati do
        teretane. Trening možeš obaviti kada i gdje ti to najbolje odgovara, a
        ja ću biti tu uz tebe cijelo vrijeme. Bez obzira jesi li početnik ili
        iskusniji vježbač, prilagođavam se tebi i tvojim potrebama kako bih ti
        osigurao optimalno iskustvo i rezultate koje želiš. Sve pratimo putem
        online platforme i zajedno prilagođavamo plan prema tvojim postignućima.
      </p>
      <div class="flex justify-center">
        <a href="https://forms.gle/dHZkansVAUWb8Gm88">
          <button
            class="inline-flex text-white bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-secondary_h rounded text-lg"
          >
            Prijava
          </button></a
        >
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="./static/img/online2.jpg"
      />
    </div>
  </div>
</section>
<!-- KORACI-->
<section class="bg-primary text-white body-font">
  <div
    class="container mx-auto flex px-24 pt-24 md:flex-row flex-col justify-center items-center"
  >
    <h1 class="sm:text-4xl text-3xl text-white">Kratke upute</h1>
  </div>
</section>
<section class="bg-primary text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        1
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-12 h-12"
            viewBox="0 0 24 24"
          >
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Prijava
          </h2>
          <p class="text-white leading-relaxed text-lg">
            Sve započinje vašim prvim korakom.
            <a href="https://forms.gle/dHZkansVAUWb8Gm88" class="underline"
              >Prijava</a
            >
            za online coaching je jednostavan proces koji obuhvaća popunjavanje
            kratkog obrasca s osnovnim informacijama kako bih bolje razumio
            tvoje potrebe i ciljeve.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        2
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-12 h-12"
            viewBox="0 0 24 24"
          >
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Online konzultacije
          </h2>
          <p class="text-white leading-relaxed text-lg">
            Nakon prijave, slijede online konzultacije kako bih detaljnije
            istražili tvoje ciljeve u vježbanju. Ovaj videorazgovor omogućuje
            nam da se bolje upoznamo i da zajedno postavimo temelje za izradu
            tvog individualiziranog plana treninga i prehrane.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        3
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-12 h-12"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="5" r="3"></circle>
            <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Izrada plana treninga i prehrane
          </h2>
          <p class="leading-relaxed text-white text-lg">
            Nakon pažljive analize tvojih ciljeva i trenutnog fizičkog stanja,
            stvaram plan koji je prilagođen tebi i postizanju željenih
            rezultata. Ovaj individualizirani plan je osmišljen kako bih ti
            pružio jasne smjernice za postizanje tvojih ciljeva.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-secondary text-white relative z-10 title-font font-medium text-sm"
      >
        4
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
        >
          <img src="./static/img/phone2.svg" alt="" />
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-secondary mb-1 text-2xl">
            Ostvarivanje cilja i praćenje napretka
          </h2>
          <p class="leading-relaxed text-white text-lg">
            Svaki korak tvog napretka bit ce pažljivo dokumentiran i analiziran
            kako bih osigurao kontinuiranu optimizaciju tvojeg plana i
            postizanje željenih rezultata.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PRICING-->
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
      >
        Cijene paketa
      </h1>
      <br />
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">
        Ovo su najpopularniji paketi, ukoliko želiš nešto izvan ponude,
        <a
          class="text-gray-600 hover:text-gray-800 underline"
          href="https://wa.me/+385915706254"
          >kontaktiraj me</a
        >.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-primary flex flex-col relative overflow-hidden"
        >
          <h1
            class="text-5xl text-gray-900 pb-4 mb-4 border-b border-primary leading-none"
          >
            <span>100 €</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/1mj.</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan treninga
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan prehrane
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Tjedne online konzultacije
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Dostupnost 24/7
          </p>
          <p class="flex items-center text-gray-600 mb-6">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfYrcYOuoLU6yAa2eyyftDtaGJKGkZ4RQ7s3gmn-HZPhtMHAQ/viewform?usp=pp_url&entry.1726689007=Jedan+mjesec+(100+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-primary border-0 py-2 px-4 w-full focus:outline-none hover:bg-primary_h rounded"
            >
              Prijavi se !
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-secondary flex flex-col relative overflow-hidden"
        >
          <span
            class="bg-secondary text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
            >POPULARNO</span
          >

          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-secondary"
          >
            <span>250 €</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/3mj.</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan treninga
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan prehrane
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Tjedne online konzultacije
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Dostupnost 24/7
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Izvještaj o tvom napretku
          </p>
          <p class="flex items-center text-gray-600 mb-6">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfYrcYOuoLU6yAa2eyyftDtaGJKGkZ4RQ7s3gmn-HZPhtMHAQ/viewform?usp=pp_url&entry.1726689007=Tri+mjeseca+(250+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-secondary border-0 py-2 px-4 w-full focus:outline-none hover:bg-secondary_h rounded"
            >
              Prijavi se !
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg></button
          ></a>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-primary flex flex-col relative overflow-hidden"
        >
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-primary"
          >
            <span>350 €</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/6mj.</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan treninga
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Individualni plan prehrane
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Tjedne online konzultacije
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Dostupnost 24/7
          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Izvještaj o tvom napretku
          </p>
          <p class="flex items-center text-gray-600 mb-6">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-green text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Savjeti o suplementaciji
          </p>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfYrcYOuoLU6yAa2eyyftDtaGJKGkZ4RQ7s3gmn-HZPhtMHAQ/viewform?usp=pp_url&entry.1726689007=%C5%A0est+mjeseci+(350+%E2%82%AC)"
          >
            <button
              class="flex items-center mt-auto text-white bg-primary border-0 py-2 px-4 w-full focus:outline-none hover:bg-primary_h rounded"
            >
              Prijavi se !
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-auto"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg></button
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
