<!--PRIJAVA KONZULTACIJE-->
<section class="text-gray-600 body-font bg-primary">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-white">
        Prijavi se na besplatne konzultacije!
      </h1>
      <p class="leading-relaxed mt-4 text-gray-400">
        Imaš li neko pitanje za mene? Kontaktiraj me i riješit ćemo sve
        nedoumice.
      </p>
    </div>
    <div
      class="lg:w-2/6 md:w-1/2 bg-bg rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
    >
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
        Kontaktiraj me
      </h2>
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600"
          >Ime i prezime</label
        >
        <input
          type="text"
          id="full-name"
          name="full-name"
          class="w-full bg-white rounded border border-gray-300 focus:border-secondary focus:ring-2 focus:ring-secondary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600"
          >Broj mobitela ili email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-isecondary focus:ring-2 focus:ring-secondary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <button
        class="text-white bg-secondary border-0 py-2 px-8 focus:outline-none hover:bg-secondary_h rounded text-lg"
      >
        Prijava
      </button>
      <p class="text-xs text-gray-500 mt-3">
        <a href="https://wa.me/+385915706254"
          >Ili me kontaktiraj na +385 91 570 6254</a
        >
      </p>
    </div>
  </div>
</section>
<!--o meni 2-->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-128 overflow-hidden">
        <img
          alt="content"
          class="object-cover object-center h-full w-full"
          src="./static/img/transform.jpg"
        />
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div
            class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-600"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-600 text-lg">
              Dino Dadasović
            </h2>
            <div class="w-12 h-1 bg-secondary rounded mt-2 mb-4"></div>
            <p class="text-base">Osobni trener</p>
          </div>
        </div>
        <div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
        >
          <p class="leading-relaxed text-lg mb-4">
            Pozdrav! Zovem se Dino Dadasović i fitness trener sam koji dolazi iz
            Zagreba. Od malih nogu sam se bavio različitim sportovima i na kraju
            sam pravu ljubav našao u teretani od koje sam i izgradio karijeru.
            Odmalena sam se bavio plivanjem i vaterpolom te sam sa 16 godina
            krenuo vježbati u teretani. U teretanu idem 7 godina i kroz tih 7
            godina sam se uveliko promijenio u svakom pogledu; fizički i
            psihički. Razvio sam disciplinu, strpljenje, trud, motiviranost i
            samopouzdanje. Pohađao sam Fitness učilište gdje sam stekao licencu
            za trenera. Kao cilj sam si postavio da pomognem drugima u
            ostvarenju njihovih snova i ciljeva, da promijene svoj život na
            bolje i postanu najbolja moguća verzija sebe.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
